#include "resource.h"

IDI_MUX ICON "assets\\mux.ico"

1 24 "app.manifest"

1 VERSIONINFO
FILEVERSION 1,1,0,0
PRODUCTVERSION 1,1,0,0
FILEOS 0x40004
FILETYPE 0x1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "wed957"
      VALUE "FileDescription", "MUX"
      VALUE "FileVersion", "1.1.0"
      VALUE "InternalName", "MUX"
      VALUE "OriginalFilename", "MUX.exe"
      VALUE "ProductName", "MUX"
      VALUE "ProductVersion", "1.1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
